.header {
  background-color: #f6e3c5;
  height: 40px;
  color: #575f65;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
}

.left div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.left div span {
  margin-left: 5px;
}

.right {
  display: flex;
  align-items: center;
}
