.navbar {
  background-color: #fff;
  height: 100px;
}

.navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}
